// Header
.header 
  @extend %clearfix
  & > .container
    padding: 3em 2em
    @extend %darkGrayBg
    border-top-right-radius: 3px
    border-top-left-radius: 3px
    @extend %overflowHidden
    @include breakpoint($lg-less)
        padding-bottom: 1em
    @include breakpoint($xs)
        padding-bottom: 2em


/* START BRAND */
.brand 
  max-width: 320px
  @extend %five
  @extend %inline-block
  @extend %centerBlock-lgLess
  @extend %fullWidth-xs
  
    

.brand__name 
  @extend %fullWidth
  @include responsive-background((192% / 1023 * 100), './../img/logo.png')

/* END BRAND */

/* START NAVIGATION */
.navigation 
  @extend %eight
  @extend %floatRight
  @extend %fullWidth-lgLess
  @extend %defaultTopMargin-xs
  @include breakpoint($lg-less)
    margin-top: 1em
.navigation__openMenuButton 
  @extend %floatRight
  @extend %centerBlock-xs
  color: $darkGray
  background-color: $bodyColorBg $i
  @include smooth-transition-button( lighten($darkGray, 5%) $i, darken($white, 10%) $i )
  @include breakpoint($xs)
    float: none

.navigation__openMenuButton, .navigation__closeMenuButton
  @include breakpoint($xs-up)
    display: none $i

.navigation__closeMenuButton 
   z-index: 11
   cursor: pointer
   @extend %absolute
   right: 5%
   top: 5%
   color: $white
   @include breakpoint($xs)



.navList 
    display: inline-flex
    font-size: (13em / 16)
    @extend %fullHeight
    transition: opacity 1.5s, width 1s 
    @extend %fullWidth
    flex-flex: row wrap
    align-items: center
    z-index: 10
    justify-content: space-between
    @extend %text-center
    @extend %fs-21

    @include breakpoint($xs)
        flex-direction: column
        padding-top: 5%
        width: 0
        opacity: 0
        position: fixed
        left: 0
        top: 0
        background-color: $darkGray

    

/* END NAV ITEMS */

/* START NAV ITEMS */
.navItem 

  @extend %two
  transition: background 1s
  @include breakpoint($xs)
    width: 50%;
  &:hover, &--active
    @extend %purpleBg 
    & .navItem__refer
      color: $white $i
      &:hover
        color: darken($white, 5%) $i
    
  
 

.navItem__refer 
  padding: 1em 0.5em
  color: $white $i
  @extend %fullWidth
  display: block
  @include breakpoint($sm) 
     
  
  @include breakpoint(max-width 992px) 
    
  
  @include breakpoint($xs) 
    
  
  @include breakpoint($xxs) 
    
  
  &:hover 
    
   
  

/* END NAV ITEMS */

